
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #222;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.main-content {
    width: 80%;
    padding: 20px;
    background-color: #424242;
}

.current-song {
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.control-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.control-btn:hover {
    background-color: #0056b3;
}

.playlist {
    max-height: 300px;
    overflow-y: auto;
}

.playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.playlist li:hover {
    background-color: #555;
}


.hidden {
    display: none;
}


.song-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
